@import "../../styles/fadeIn.scss";
@import "../../styles/variables.scss";

.panel {
  @extend .fadeIn;
  left: 9px;
  top: calc(2vh + 225px);
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
  position: absolute;
  max-height: calc(86.5vh - 200px);
  width: 20vw;
  max-width: 350px;
  border-radius: 4px;
  overflow-y: auto;
  background-color: white;
  margin-top: 2vh;
  box-sizing: border-box;
  padding: 8px;
  z-index: 0;
  font-size: 1.075rem;
}

.image {
  border-radius: 6px;
  box-shadow: gray 0 0 6px;
  width: 75%;
}

.resourceLink {
  transition: $transition-time;
}
